<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  {% include "tei_header.xml.j2" %}

  <text>
    <body>
      <div type="edition">
        {% for milestone in page_milestones %}
        <pb xml:id="pb-{{ milestone.folio }}" n="{{ milestone.folio }}"/>
        {% endfor %}
        <ab>
        {% for col in columns %}
          {% if columns|length > 1 %}
        <cb xml:id="cb-{{ col.column_number }}" n="{{ col.column_number }}"/>
          {% endif %}
          {% for line in col.lines %}
          <lb xml:id="lb-{{ col.column_number }}-{{ line.line_number }}" n="{{ line.line_number }}"/>
            {% if line.verse_milestone %}
            <milestone unit="verse" n="{{ line.verse_n }}" xml:id="v-{{ line.verse_id }}"/>
            {% endif %}
            {% for atom in line.atoms %}
            <w xml:id="w-{{ atom.atom }}">{{ atom.text }}</w>
            {% endfor %}
            {% if line.section_milestone %}
            <milestone unit="section" subtype="{{ line.section_milestone }}" xml:id="s-{{ line.section_id }}"/>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ab>
      </div>
    </body>
  </text>
</TEI>
