<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  {% include "tei_header.xml.j2" %}

  <facsimile>
    <surface xml:id="surf-{{ folio }}">
      {% if source_image %}
      <graphic url="{{ source_image.url }}"/>
      {% endif %}
    </surface>
  </facsimile>

  <text>
    <body>
      <div type="edition">
        {% for milestone in page_milestones %}
        <pb xml:id="f{{ folio }}-pb-{{ milestone.folio }}" n="{{ milestone.folio }}"/>
        {% endfor %}
        <ab>
        {% for col in columns %}
          {% if columns|length > 1 %}
        <cb xml:id="f{{ folio }}-cb-{{ col.column_number }}" n="{{ col.column_number }}"/>
          {% endif %}
          {% for line in col.lines %}
          <lb xml:id="f{{ folio }}-lb-{{ col.column_number }}-{{ line.line_number }}" n="{{ line.line_number }}"/>
            {% if line.verse_milestone %}
            <milestone unit="verse" n="{{ line.verse_n }}" xml:id="f{{ folio }}-v-{{ line.verse_id }}"/>
            {% endif %}
            {% for tok in line.tokens %}
            {% if tok.kind == "w" %}
            <w xml:id="f{{ folio }}-w-{{ tok.atom }}">{{ tok.text }}</w>
            {% else %}
            <pc type="{{ tok.pc_type }}" xml:id="f{{ folio }}-{{ tok.pc_id }}">{{ tok.text }}</pc>
            {% endif %}
            {% endfor %}
            {% if line.section_milestone %}
            <milestone unit="section" subtype="{{ line.section_milestone }}" xml:id="f{{ folio }}-s-{{ line.section_id }}"/>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ab>
      </div>
    </body>
  </text>
</TEI>
